beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
filelock==3.4.2
Flask==2.0.2
gdown>=4.5.1
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.1
Pillow==9.0.0
PySocks==1.7.1
requests==2.27.1
scipy==1.7.3
six==1.16.0
soupsieve==2.3.1
torch==1.10.1
torchvision==0.11.2
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.8
Werkzeug==2.0.2
